<div class="form-container flex flex-col items-start w-[100%] m-x-auto space-y-2 p-4">
  <h1 class="font-semibold text-3xl mb-8">New Comment</h1>
    <%= render "form", comment: @comment %>
    <%= link_to "Cancel", user_post_path(@comment.author_id, @comment.post_id), class: "ml-10 px-4 py-2 bg-gray-200 font-medium hover:bg-orange-800 hover:text-white hover:cursor-pointer active:scale-95 rounded-md" %>
</div>
